<div class="main-header">
  <!-- Logo Header -->
  <div class="logo-header" data-background-color="blue">

    <a href="/admin" class="logo">
      <img  src="/admin-image/kerala.png" alt="navbar brand" class="navbar-brand">
    </a>
    <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="icon-menu"></i>
      </span>
    </button>
  </div>
  <!-- End Logo Header -->

  <!-- Navbar Header -->
  <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue">
    <div class="container-fluid">
    </div>
  </nav>
  <!-- End Navbar -->
</div>



<!-- Sidebar -->
<div class="sidebar sidebar-style-2">

  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">

      <ul class="nav nav-primary">
        
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Admin Panel</h4>
        </li>

        <li class="nav-item">
          <a href="/admin" class="collapsed" aria-expanded="false">
            <i class="fas fa-home"></i>
            <p>DASHBOARD</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/users-list" class="collapsed" aria-expanded="false">
            <i class="fas fa-user"></i>
            <p>USER MANAGER</p>
          </a>
        </li>
          <li class="nav-item">
          <a href="/admin/all-blog" class="collapsed" aria-expanded="false">
            <i class="fas fa-rss-square"></i>
            <p>All BLOGS</p>
          </a>
        </li>
           <li class="nav-item">
          <a href="/admin/add-category" class="collapsed" aria-expanded="false">
            <i class="fas fa-bars"></i>
            <p>ADD CATEGORY</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/adminlogout" onclick="adminlogout(event)" class="collapsed" aria-expanded="false">
            <i class="fas fa-sign-out-alt"></i>
            <p>LOGOUT</p>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>